@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Doto:wght@100..900&family=Jersey+15&family=Tiny5&family=Workbench&display=swap');

:root, button, input {
    font-family: "Workbench", sans-serif;
}

:root, button {
    font-size: 20px;
    font-weight: 600;
}

p, label {
    letter-spacing: 0.5px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(87, 87, 87, 0.6);
    font-family: "Doto", sans-serif;
}

h2 {
    position: absolute;
    font-size: 55px;
    top: 90px;
}

h3, button {
    font-family: "Coral Pixels", serif;
}

#welcome {
    background-color: blue;
    text-shadow: 1px 1px 2px white;
}

form, button:active {
    background-color: blue;
}

button, #dataSubHeader {
    background-color: rgb(142, 178, 255);
}

.dataDiv {
    background-color: rgb(184, 207, 255);
}

button:hover {
    background-color: white;
    
    color: rgb(89, 191, 231);

    cursor: pointer;
}

h1 {
    color: blue;
}

:root, button, button:active {
    color: white;
}

form, input, button, .dataDiv, #dataSubHeader {
    border-color: rgb(109, 122, 238);
}

input:focus {
    border-color: rgb(16, 4, 78);
    border-style: ridge;
}

form, button, #dataSubHeader,.dataDiv {
    border-style: outset;
}

input {
    border-style: inset;
}

form, input, button, #dataSubHeader, .dataDiv {
    border-width: 3px;
}

body, #welcome, form, #dataSubHeader, .dataDiv {
    display: flex;
}

body, #dataSubHeader, .dataDiv {
    flex-direction: column;
}

body, #dataDisplay, .dataDiv {
    position: relative;
}

form, #dataMain, .dataDiv {
    align-items: center;
}

body {
    background-color: rgb(197, 206, 255);
    text-align: center;
    margin-bottom: 50px;
}

form, #dataDisplay {
    align-self: center;
}

#welcome {
    justify-content: space-between;
    padding: 15px 45px;
    margin-bottom: 20px;
}

form {
    border-radius: 20px;
    padding: 15px 30px;

    gap: 60px;
    margin-bottom: 60px;
}

#searchbar {
    transform: translateY(2px);
    text-align: left;
}

label {
    font-size: 16px;
    opacity: 0.75;
    margin-left: 4px;
}

input {
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    width: 600px;
    padding: 5px 10px;
    margin-bottom: 3px;
}

button {
    border-radius: 25px;
    padding: 15px 30px;
}

#dataSubHeader p {
    font-size: 40px;
    margin-bottom: 10px;
}

#dataSubHeader {
    border-radius: 10px;
    padding: 15px 40px;

    margin-bottom: 30px;

    gap: 10px;
}

#dataSubHeader p {
    font-size: 30px;
}

#dataMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.dataDiv {
    width: 200px;
    height: 225px;

    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}